nav{
    padding: 5px;
}
body{
    padding: 5px;
    background-color: #fff5fb;
    
}
.container1{
    margin: 20px auto;
    max-width: 450px;
    text-align: center;
}
.container{
    background-color: rgb(253, 198, 207);
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
}
nav a{
    color: white;
    text-decoration: none;
    display: inline-block;
    height: 22px;
    width: 100px;
    padding: 10px;
    text-align: center;
    background-color: pink;
}
nav .home:hover{
    background-color: palevioletred;
}
nav .mijncv:hover{
    background-color: palevioletred;
}
nav a.contact:hover{
    background-color: palevioletred;
}
table{
    border-collapse: collapse;
    margin: 20px auto;
    width: 90%;
}
td, th{
    padding: 10px 5px;
}
footer{
    background-color: #f1f1f1;
    text-align: center;
    padding: 5px;
    width: 100%;
}
input[type="text"], input[type="email"], textarea, button{
    display: block;
    margin: 15px auto;
    width: 90%;
    max-width: 400px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 2px 2px 5px pink;
    padding: 10px;
}
#bericht{
    height: 200px;
}
button:active{
    background-color: palevioletred;
    color: white;  
}